<div class="modal-header">
  <h4 class="modal-title">Delete Book From Book Store</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>Are You Sure ?</div>
  <div>
    <button md-button  [color]="'primary'" (click)="deleteBook()">Yes</button>
    <button md-button  [color]="'warn'" (click)="activeModal.close()">No</button>
  </div>
</div>
<div class="modal-footer">
</div>




